* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Scada";
  font-size: 25px;
}

.wrapper {
  overflow: clip;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*=__container] {
  max-width: 1326px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #FFC0CB;
  padding: 10px 0;
  color: #BC8F8F;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 66px;
  gap: 20px;
}

@media (max-width: 767.98px) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 767.98px) {
  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}
.menu__link {
  font-size: 23.6px;
  line-height: 1.2;
  font-weight: 500;
  color: #815f5f;
  font-size: calc(23px + 12 * ((100vw - 320px)/1120));
}

body._lock {
  overflow: hidden;
}

.menu__icon {
  display: none;
}

.menu__list > li {
  position: relative;
  margin-left: calc(15px + 25.5 * ((100vw - 320px)/1120));
}

.menu__list > li:first-child {
  margin-left: 0;
}

@media (min-width: 767.98px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
}
@media (max-width: 767.98px) {
  .menu__icon {
    display: block;
    z-index: 5;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin-left: calc(15px + 19 * (100vw - 320px) / 1120);
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #815f5f;
    display: flex;
    justify-content: end;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
  }
  .menu__list > li {
    margin-bottom: 30px;
    margin-left: 0;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: calc(30px + 40 * ((100vw - 320px)/1120));
    line-height: 1.2;
    font-weight: 500;
    color: #BC8F8F;
  }
}
.page {
  flex: 1 1 auto;
  background-color: #BC8F8F;
}

.page__container {
  padding: 0 10px;
}

.page__title {
  font-weight: 700;
  text-align: center;
  font-size: calc(24px + 16 * ((100vw - 320px)/1120));
  margin-top: calc(10px + 10 * ((100vw - 320px)/1120));
  margin-bottom: calc(10px + 10 * ((100vw - 320px)/1120));
}

.video-block {
  display: flex;
  justify-content: center;
  min-width: 0;
}

.video-hello {
  width: 300px;
  height: 517px;
  margin-bottom: calc(15px + 5 * ((100vw - 320px)/1120));
  border-radius: 15px;
  border: 10px solid #09e2ff;
}

.greeting__block {
  -moz-column-gap: calc(25px + 25 * ((100vw - 320px)/1120));
       column-gap: calc(25px + 25 * ((100vw - 320px)/1120));
}

.block-greeting__img {
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

.block-greeting__text {
  font-size: calc(18px + 7 * ((100vw - 320px)/1120));
}

.block-greeting__text:first-child {
  font-size: calc(18px + 7 * ((100vw - 320px)/1120));
  margin-bottom: calc(15px + 10 * ((100vw - 320px)/1120));
}

.wrapper {
  overflow: clip;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.swiper-block {
  min-width: 0;
}

.swiper {
  margin: 30px 0 70px 0;
}

.swiper-slide__image {
  text-align: center;
}

.swiper-slide__image img {
  max-width: 100%;
  max-height: 80vh;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #fff;
}

.video {
  height: 517px;
  width: 450px;
  background-color: #09e2ff;
  margin-bottom: 20px;
}

.parallax-slider__slide {
  min-height: 60vh;
  max-height: 80vh;
  background-color: red;
}

.parallax-slider__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.parallax-slider__text {
  font-size: 20px;
  text-align: center;
  padding: 0 10px;
}